.task {
    width: 100%;
    padding: 16px 23px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 6px rgba(54, 78, 126, 0.1);
    border-radius: 8px;
    word-wrap: break-word;
}

.task-light {
    background: var(--white);
}

.task--title-light {
    color: var(--black);
}

.task-dark {
    background: var(--dark-grey);
}

p.task--title-dark {
    color: var(--white);
}
.task--subtasks {
    color: var(--medium-grey) !important;
}
